<% content_for :title do %>About <% end %>
<h3> About Foobar Kadigan</h3>
<p>He was born in Waikiamukau, New Zealand. lots of content, lots of content...</p>
<p>His favoritte quatation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>